* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root{
    --azul-claro: #1E41FF;
    --azul-escuro: #13135c;
    --branco: #FFFFFF;
    --cinza: #1C1C24;
    --cinza-escuro: #10121B;
    --vermelho:v #DA291C;
    --amarelo: #FFD700;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(40, 40, 40);
}

.f1logo {
    margin-left: .5rem;
    width: 3.75rem; 
    height: .75rem;
}

.rbLogo {
    width: 2.5rem; 
    height: 2.5rem;
}

.header-menu {
    width: 3rem;
    margin-right: .5rem;
}


.hero {
   /* background-color:   #01193e; */
    background: linear-gradient(to bottom, var(--azul-claro), var(--azul-escuro));
    height: 95vh;
    color: #D9D4CE;
    justify-content: center;
    align-items: center;
}

.principalImg {
    z-index: 5;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -25%);
    width: 35rem;
    height: 14rem;
}


.hero-title {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
    font-size: 17rem;
    width: 100%;
    max-width: 80%;
    text-align: center;
}

.history {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-color: var(--cinza);
}

.history-img{
    width: 55rem;
    height: 25rem;
    border-radius: .25rem;
    margin-bottom: 5rem;
}

.history-text {
    text-align: center;
    width: 50rem;
    color: var(--branco);
    margin: 5rem;
    letter-spacing: 0.1rem;
}

.history-title {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-bottom: 4rem;
    font-size: 3rem;
}

.drivers-img {
    width: 12rem;
    height: 35rem;
    cursor: pointer;
}

#fade{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}