* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root{
    --azul-claro: #1E41FF;
    --azul-escuro: #13135c;
    --branco: #FFFFFF;
    --cinza: #1C1C24;
    --cinza-escuro: #10121B;
    --vermelho: #DA291C;
    --amarelo: #FFD700;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #282828;
}

.f1logo {
    margin-left: .5rem;
    width: 3.75rem; 
    height: .75rem;
}

.rbLogo {
    width: 2.5rem; 
    height: 2.5rem;
}

.header-menu {
    width: 3rem;
    margin-right: .5rem;
}


.hero {
   /* background-color:   #01193e; */
    background: linear-gradient(to bottom, var(--azul-claro), var(--azul-escuro));
    height: 95vh;
    color: #D9D4CE;
}

.principalImg {
    z-index: 5;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -25%);
    width: 35rem;
    height: 14rem;
}


.hero-title {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
    font-size: 17rem;
    width: 100%;
    max-width: 80%;
    text-align: center;
}

.history {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cinza);
}

.history-img{
    width: 37rem;
    height: 25rem;
    border-radius: .25rem;
}

.history-text {
    color: var(--branco);
    width: 40rem;
    margin: 5rem;
    font-size: 1.12rem;
}

.history-title {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin-bottom: 3rem;
    font-size: 3rem;
}

.drivers-img {
    width: 12rem;
    height: 35rem;
    cursor: pointer;
}

#fade1, #modal1 {
    transition: .5s;
    opacity: 1;
    pointer-events: all;
}

#fade2, #modal2 {
    transition: .5s;
    opacity: 1;
    pointer-events: all;
}

#fade1, #fade2{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 20;
}

 #modal1 { 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2d2c37;
    color: var(--branco);
    z-index: 50;
    width: 50rem;
    max-width: 90%;
    height: 38rem;
    padding: .5rem;
    border-radius: .5rem;
}

#modal2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2d2c37;
    color: var(--branco);
    z-index: 50;
    width: 55rem;
    max-width: 90%;
    height: 38rem;
    padding: .5rem;
    border-radius: .5rem;
}

.modal-header {
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-size: 2rem;
}

.modal-header h3{
    font-weight: 300;
}

#modal1.hide,
#fade1.hide {
    opacity: 0;
    pointer-events: none;
}

#modal2.hide,
#fade2.hide  {
    opacity: 0;
    pointer-events: none;
}

.modal-list {
    display: inline-block;   
}

.modal-itens {
    margin-left: 3.5rem;
    margin-bottom:.5rem;
    display: inline-block;
    padding: .75rem;  
    width: 20rem;
    border-radius: .5rem;
}

.modal-list h4 {
    font-size: 1.2rem;
}

.modal-resumo h4 {
    font-size: 1.2rem;
    margin-bottom: .75rem;
}

.modal-resumo {
    letter-spacing: 1px;
    background-color: #36384d;
    padding: .5rem;
    border-radius: .5rem;
}

.drivers {
    background: radial-gradient(circle, #0c0c39, var(--cinza-escuro));
    text-align: center;
}

.drivers-card {
    display: flex;
    justify-content:center;
    align-items:center;
    padding: 4rem;
}

.drivers-img {
    width: 15rem;
    height: 43rem;

}

button {
    all: unset;
    cursor: pointer;
  }
  

#open-modal1, #open-modal2 {
    background: linear-gradient(to bottom, var(--azul-claro), var(--azul-escuro));
    cursor: pointer;
}

#open-modal1 {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

#open-modal2 {
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.drivers-title {
    padding-top: 1rem;
    color: var(--branco);
    font-size: 3rem;
    font-weight: 300;
}

.hq {
    color: var(--branco);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cinza);
    padding: 2rem;
}

.hq-img {
    width: 60rem;
    height: 30rem;
    border-radius: .5rem;
    margin: 1rem;
}

.hq-title {
    font-weight: 300;
    font-size: 1.75rem;
    margin: 1rem;
}

.hq-text {
    margin: 1rem;
    font-size: 1.12rem;
}

.mananger {
    color: var(--branco);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cinza-escuro);
    padding: 2rem;
}

.mananger-img {
    width: 30rem;
    height: 15rem;
    border-radius: .5rem;
    margin: 1rem;
}

.mananger-title {
    font-weight: 300;
    font-size: 1.75rem;
    margin: 1rem;
}

.mananger-text {
    margin: 1rem;
    font-size: 1rem;
}


.car {
    text-align: center;
    padding: 40px 0;
    background-color: #111;
    color: #fff;
  }
  
  .car-title {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: 'Rubik', sans-serif;
  }
  